extends ../layouts/common.pug

block content
    .p-2.shadow.w-sm-50.text-center
        .h5.text-primary login and dizz the test bruh
        a.btn.btn-outline-primary(href="/auth/facebook") Đăng nhập bằng facebook để tiếp tục
