extends ../layouts/common.pug
block content
    .table-responsive
        table.table
            thead
                tr
                    th(scope="col") Tên đề
                    th(scope="col") Số câu
                    th(scope="col") Thời gian
                    th(scope="col") Thao tác
            tbody
                each test in tests
                    tr
                        td.align-middle= test.name ? test.name : "Đề kiểm tra"
                        td.align-middle= test.questions.length
                        td.align-middle= test.time + " phút"
                        td.align-middle
                            if user && user.isAdmin
                                a.btn.btn-outline-primary(href="/tests/"+test._id+"/view") Xem
                                |     
                            a.btn.btn-outline-success(href="/tests/"+test._id+"/do") Làm đề

                    