extends ../layouts/common.pug
block content
    .table-responsive
        table.table
            thead
                tr
                    th(scope="col") Tên đề
                    th(scope="col") Số câu
            tbody
                each test in tests
                    tr
                        td
                            a(href="/tests/"+test._id+"/view")= test.name ? test.name : "Đề kiểm tra"
                        td= test.questions.length
                    