extends ../layouts/common.pug
block title
    title Kho đề online - Vật Lý Siêu Nhẩm
block content
    .table-responsive
        table.table
            thead
                tr
                    th(scope="col") Khối
                    th(scope="col") Tên đề
                    th(scope="col") Chi tiết
                    th(scope="col") Thao tác
            tbody
                each test in tests
                    tr
                        td.align-middle.text-wrap= test.grade
                        td.align-middle.text-wrap= test.name ? test.name : "Đề kiểm tra"
                        td.align-middle.text-wrap= test.questions.length + " câu/" + test.time + " phút"
                        td.align-middle
                            if user && user.isAdmin
                                a.btn.btn-primary.btn-icon.btn-sm(href="/tests/"+test._id+"/view" title="Xem chi tiết")
                                    i.fas.fa-eye
                            a.btn.btn-success.btn-icon.btn-sm(href="/tests/"+test._id+"/do" title="Làm đề")
                                i.fas.fa-pencil

                    