extends ../layouts/common.pug
block content
    .table-responsive
        table.table
            thead
                tr
                    th(scope="col") Tên đề
                    th(scope="col") Số câu
                    th(scope="col") Thời gian
                    th(scope="col") Thao tác
            tbody
                each test in tests
                    tr
                        td= test.name ? test.name : "Đề kiểm tra"
                        td= test.questions.length
                        td= test.time + " phút"
                        td
                            if user && user.isAdmin
                                a.btn.btn-outline-primary Xem
                                |     
                            a.btn.btn-outlinh-success Làm đề

                    