section
    .container.text-center.text-md-start.mt-5.p-1
        // Grid row
        .row.row-cols-1.row-cols-md-3.mt-3
            // Grid column
            .col-12.col-lg-4.mx-auto.mb-2
                // Content
                h5.text-center.text-uppercase.fw-bold.mb-2
                    i.fas.fa-gem
                    |  Vật lý siêu nhẩm - Lớp học thầy Quý
                .fb-page(data-href='https://www.facebook.com/HocLyThayQuy/', data-tabs='timeline', data-width='300', data-height='300', data-small-header='true', data-adapt-container-width='true', data-hide-cover='true', data-show-facepile='true')
                blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/HocLyThayQuy/')
                    a(href='https://www.facebook.com/HocLyThayQuy/') H&#x1ECD;c L&yacute; Th&#x1EA7;y Qu&yacute; - Luy&#x1EC7;n Thi &Dstrok;H 10,11,12
            .col-12.col-lg-4.mx-auto.mb-2(style="text-align:left")
                // Links
                h5.text-uppercase.fw-bold.mb-2.text-center
                    | Hỗ trợ
                p
                    a.text-reset(style="margin-left:60px" target="_blank")
                    i.fas.fa-home.me-3
                    | Tầng 3 - số 10 Tạ Quang Bửu
                p
                    a.text-reset(href='https://www.youtube.com/channel/UCeJKtPNOdWnp9ya5jKBiu2w' style="margin-left:60px"  target="_blank")
                        i.fab.fa-youtube.me-3
                        | Youtube: Vật lý siêu nhẩm
                p
                    a.text-reset(href='https://www.facebook.com/groups/vatlysieunham' style="margin-left:60px"  target="_blank")
                        i.fab.fa-facebook-square.me-3
                        | Group FB trao đổi
                p
                    a.text-reset(href='#!' style="margin-left:60px"  target="_blank")
                        i.fas.fa-envelope.me-3
                        | vatlysieunham@gmail.com
                p
                    a.text-reset(href="tel: +84326425111" style="margin-left:60px")
                        i.fas.fa-phone.me-3
                        | Phone: +84326425111
            .col-12.col-lg-4.mx-auto.mb-5(style="padding-bottom:50px")
                // Links
                h5.text-uppercase.fw-bold.mb-2.p-2
                    | Vị trí trên bản đồ
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232.79293960090385!2d105.84705814416286!3d21.00517891020668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad7ac300674d%3A0xb592f5aaf666d1a3!2zVHJ1bmcgVMOibSBHacOhbyBE4bulYyBUQ1QgLSBUaOG6p3kgQ2h1bmcgVG_DoW4!5e0!3m2!1svi!2s!4v1621905731864!5m2!1svi!2s', width='100%', height='100%', style='border:0', allowfullscreen='', loading='lazy')