script.
    window.MathJax = {
    options: {
        renderActions: {
            addMenu: [],
            checkLoading: []
        }
    },
    loader: { load: ["input/tex", "output/chtml"] },
    tex: {
        inlineMath: [
            ['$', '$'],
            ['\\(', '\\)'],
            ['\\[', '\\]']
        ],
        displayMath: [
            ['$$', '$$']
        ]
    },
    mml: {
        parseAs: 'xml',                     // or 'xml'
        forceReparse: false,                 // true to serialize and re-parse all MathML
        parseError: function (node) {        // function to process parsing errors
            this.error(this.adaptor.textContent(node).replace(/\n.*/g, ''));
        }
    },
    chtml: {
        minScale: 1,
        matchFontHeight: false,
    }
    };
script.
    (function () {
    let script_CHTML = document.createElement('script');
    script_CHTML.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js'; //Configure this to get the CHMTL
    script_CHTML.async = true;
    document.head.appendChild(script_CHTML);    //Parent Tags
    })();
style.
    mjx-frac mjx-mn[size="s"],
    mjx-frac mjx-mrow[size="s"],
    mjx-frac mjx-mi[size="s"],
    mjx-frac mjx-texatom[size="s"] {
        font-size: 100%;
    }
    mjx-frac mjx-line {
        margin: .15em -.1em;
    }
    mjx-frac mjx-msub mjx-mrow[size="s"] {
        font-size: 70.7%;
    }