extends ./layouts/common.pug

block content
	h1 URL chính sách quyền riêng tư
	h2 Tuyên bố về Quyền riêng tư của
	p
		| Đây là tuyên bố về quyền riêng tư tại trang web 
		a(href="/") Làm đề VLSN
		| . Trang web được duy trì bởi nhân viên của công ty LAS EDU.
		|  Chúng tôi muốn mang đến cho người dùng các trải nghiệm tuyệt vời nhất có thể về Làm Đề VLSN. Chúng tôi sử dụng các thông tin mà bạn chia sẻ với chúng tôi để giúp dịch vụ của chúng tôi và trải nghiệm của bạn trở nên tốt hơn. Tuyên bố về Quyền riêng tư này nhằm mục đích giúp bạn hiểu rõ về cách chúng tôi có thể sử dụng dữ liệu cá nhân của bạn, nỗ lực của chúng tôi trong việc bảo vệ dữ liệu của bạn và các tùy chọn mà bạn có để kiểm soát dữ liệu cá nhân và bảo vệ quyền riêng tư của bạn.
	h2 Tuyên bố về Quyền riêng tư này được áp dụng khi nào?
	p Tuyên bố về Quyền riêng tư này được áp dụng để xử lý các dữ liệu cá nhân của người dùng thông qua Trang web này.
	h2 Chúng tôi xử lý dữ liệu cá nhân của bạn nhằm mục đích gì?
	p Chúng tôi chỉ lấy đúng 2 thông tin tên hiển thị, ID facebook của bạn để phục vụ việc lưu trữ kết quả thi.
	h2 Ai có quyền truy cập vào dữ liệu của bạn?
	p Chỉ có nhân viên trong hệ thống VLSN được phép xem tên hiển thị, ID của bạn.
	h2 Cách thức bảo mật dữ liệu của chúng tôi?
	p Dữ liệu cá nhân của bạn được xử lý bảo mật một cách nghiêm ngặt và chúng tôi đã thực hiện các biện pháp an ninh kỹ thuật và tổ chức phù hợp để chống mất mát hoặc xử lý trái phép các dữ liệu này. Để đạt được mục đích này, chúng tôi sử dụng một số kỹ thuật bảo mật bao gồm các máy chủ an ninh, tường lửa và mã hóa, cũng như các biện pháp bảo vệ vật lý tại nơi lưu trữ dữ liệu.