@media print {
	form {
	  page-break-inside: avoid;
	}
	.row-cols-md-4>* {
		flex: 0 0 auto;
    	width: 25%;
	}
	.row-cols-md-2>* {
		flex: 0 0 auto;
    	width: 50%;
	}
	.row-cols-md-1>* {
		flex: 0 0 auto;
    	width: 100%;
	}
  }