extends ../layouts/common.pug
block stylesheet
    link(rel="stylesheet", href="/css/upload-image-imgur.css")
block script-header
    script(src="//cdn.ckeditor.com/4.15.0/standard/ckeditor.js")
    script(src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569993029/imgur.js")

block content
    h1.h3 Thêm câu hỏi
    .accordion#accordionMain
        .accordion-item
            .accordion-header
                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#accordionUpload" aria-expanded="false" aria-controls="accordionUpload" ) Tải ảnh lên
            .accordion-collapse.collapse#accordionUpload(data-bs-parent="#accordionMain")
                .accordion-body
                    h5 Tải ảnh lên
                        .d-flex.justify-content-center
                            .dropzone.uploadfuzone.fuzone
                                .fu-text
                                    span
                                        |  Click hoặc thả ảnh vào đây
                                input.input(type='file', accept='image/*')
                            a.snippet_image_div
                            .text-center
                                .status
                                span.imgur-link
    form#form-question(action="/questions/create" method="POST")
        .form-group.mb-2
            select.form-control(name="grade")
                option(value="" hidden) Chọn khối
                option(value=10) 10
                option(value=10) 11
                option(value=10) 12
        .form-group.mb-2
            label.h5 Question
            textarea(name="question_content")
        .row.row-cols-2
            .col
                .form-check.form-check-inline
                    input#answer0.form-check-input(type="radio", name="answer_true[]" value=0 required)
                    label.form-check-label(for="answer0") Đúng
                textarea(name="answer_content[0]")
            .col
                .form-check.form-check-inline
                    input#answer1.form-check-input(type="radio", name="answer_true[]" value=1)
                    label.form-check-label(for="answer1") Đúng
                textarea(name="answer_content[1]")
            .col
                .form-check.form-check-inline
                    input#answer2.form-check-input(type="radio", name="answer_true[]" value=2)
                    label.form-check-label(for="answer2") Đúng
                textarea(name="answer_content[2]")
            .col
                .form-check.form-check-inline
                    input#answer3.form-check-input(type="radio", name="answer_true[]" value=3)
                    label.form-check-label(for="answer3") Đúng
                textarea(name="answer_content[3]")
        .form-group.mb-2
            label.h5 Lời giải chi tiết
            textarea(name="detailed_answer")
        button.btn.btn-primary(type="submit") Lưu
block script-footer
    script(src="/js/create-answer.js")
    script(src="/js/upload-image-imgur.js")