extends ../layouts/common.pug

block script-header
    script(src="//cdn.ckeditor.com/4.16.0/standard-all/ckeditor.js")

block content
    h1 Thêm nhiều câu hỏi
    form#importForm(action="/questions/import" method="POST")
        .form-check.form-switch
            input.form-check-input(type="checkbox" name="addToMemory" checked)
            label.form-check-label Thêm vào bộ nhớ
        textarea(name="content")
        .d-flex.justify-content-around
            button.d-block.btn.btn-primary(type="submit") Xem trước
            button.d-block.btn.btn-primary#importBtn(type="button") Lưu lại
block script-footer
    script(src="/js/questions/import.js")
    